# some handy quick links 
# https://codepen.io/your-work/
# https://devdocs.io/html/element/script
# https://www.udemy.com/course/the-complete-web-development-bootcamp/

# files to ignore go below
.gitignore

